html
{
  font-size: 18px;
  background-color: #FBFBFB;
}

.content
{
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  display: flex;
}

.home_left, .home_right
{
  padding: 10px;
  width: 45%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.home_left
{
  background: radial-gradient(farthest-corner, #43E0E9 50%, #40C1C9 70%, #22686C);
  border: 4px solid #5EC1C8;
}

.home_right
{
  background: radial-gradient(farthest-corner, #DE5757 50%, #C94848 70%, #712525);
  border: 4px solid #840E00;
}

.go
{
  font-size: 200%;
  text-decoration: none;
}
