---
---

/////////// FONTS
@font-face {
  font-family: Rambla;
  src: url(/fonts/Rambla/rambla/Rambla-Regular.otf);
}

////////// Mixins

@mixin flex {
  display: flex;
}

@mixin row {
  @include flex;
  flex-direction: row;
}

@mixin column {
  @include flex;
  flex-direction: column;
}

@mixin centerAbsolute {
  left: 50%;
  transform: translateX(-50%);
}

/////////// Animations
@keyframes opac {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes blurAppear {
  from {filter: blur(12px);}
  to {filter: blur(0px);}
}

.row {
  @include row;
}

.column {
  @include column;
}

.spaced {
  justify-content: space-between;
}

.separator {
  background: white;
  width: 1px;
  height: 20px;
  margin: 2px;
  margin-left: 4px;
  margin-right: 4px;
}

$secondary-color: #C1C1C1;

html {
  background: linear-gradient(to top right, #162e41, #3a6c95);
  background-attachment: fixed;
  height: 100%;
}

body {
  color: $secondary-color;
  height: 100%;
  font-family: "Rambla", sans-serif;
}

header {
  width: calc(100% - 25px);
  padding-left: 5px;
  padding-right: 20px;
  @include row;
  justify-content: space-between;
  transition: background .6s;
  ul {
    list-style: none;
    padding-left: 0px;
    a {
      color: inherit;
      transition: color .1s;
    }
  }
  top: 0px;
  left: 0px;
  div.row {
    width: 150px;
    .row {
      padding-left: 50px;
    }
  }
  ul:nth-child(1) {
    font-size: 20px;
    width: 350px;
    a:hover {
      color: #1e70bf;
    }

  }
  #logo {
    height: auto;
    width: 32px;
  }
}

aside {
  position: fixed;
  bottom: 40%;
  left: 0px;
  ul {
    list-style: none;
    padding-left: 5px;
    li {
      padding: 5px;
      img {
        height: auto;
        width: 45px;
        filter: drop-shadow(1px 1px 2px black);
      }
    }
  }
}

.one_pager {
  section {
    width: 100%;
    height: 1000px;
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 45px;
    }
  }
  #brand {
    & > .column {
      width: 100%;
      position: relative;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      & > em {
        font-size: 30px;
        line-height: 45px;
      }
      .row {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
      object {
        height: 160px;
      }
      #evinlphrin {
        font-size: 70px;
        line-height: 35px;
        span {
          height: 70px;
          padding-top: 20px;
          -webkit-text-fill-color: transparent;
          background: linear-gradient(to left, rgba(108, 169, 209, 0.4), #369ee3);
          -webkit-background-clip: text;
        }
      }
    }
  }
  #work, #projects, #blog {
    background: white;
    h1 {
      color: #162E41;
    }
  }

  #work {
    padding-top: 100px;
    height: 900px;
    background: url('/images/decoration/background.jpg');
    background-size: cover;
    .work {
      position: relative;
      top: 200px;
      left: 100px;
      display: flex;
      justify-content: space-between;
      width: calc(100% - 200px);
    }
    .left_float {
      float: left;
    }
    .right_float {
      float: right;
      width: 40%;
      text-align: center;
    }
  }

  #blog {
    background: url('/images/decoration/background_02.jpg');
    background-size: cover;
    text-decoration: none;
    color: inherit;
    &>h1 {
      display: inline-block;
      position: relative;
      left: 160px;
    }
    h4 {
      text-align: center;
    }
    #trending_article {
      width: 60%;
      position: relative;
      left: 40%;
      top: -75px;
      text-align: center;
      .row {
        justify-content: center;
        height: 130px;
        a {
          border-left: 1px solid rgba(1, 1, 1, 0.3);
        }
        a:nth-child(1) {
          border-left: none;
        }
      }
      // See more articles
      h4 {
        display: inline-block;
        margin-top: 60px;
        font-size: 18px;
        color: #777;
      }
    }
  }

  #contact {
    height: 1000px;
    .column {
      width: 100%;
      position: relative;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      a {
        background-color: #3A6C95;
        transition: background-color .3s;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        &:hover {
          background-color: #007298;
        }
      }
    }
  }
}

#trending_article {
  #featured_article {
    h2 {
      color: #3a6c95;
      text-decoration: underline;
      margin-bottom: 0px;
    }
    display: inline-block;
    position: relative;
  }
  .row {
    justify-content: center;
    height: 130px;
    a {
      text-decoration: none;
      transition: background-color .4s;
      &:hover {
        background-color: darkgrey;
        h3 {
          color: #3a6c95;
        }
      }
      .text_content {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        color: #565656;
      }
      h3 {
        min-height: 55px;
        color: #565656;
      }
    }
  }
}

#main {
  width: 97%;
  margin-left: 1.5%;
  margin-top: 60px;
  margin-bottom: 100px;
  box-shadow: 0px 0px 15px black;
}

#articles_list {
  width: 90%;
  margin-left:auto;
  margin-right: auto;
  #trending_article {
    .column {
      background-color: #efefef;
      box-shadow: 0px 4px 8px black;
      .row {
        a {
          h3 {
            margin-bottom: 0px;
          }
          .text_content {
            margin-top: 0px;
          }
        }
      }
    }
  }
}

#articles_list #featured_article, #header_article {
  background-color: #1111114d;
  transition: background-color 1s;
  box-shadow: 0px 0px 8px black;
  &:hover {
    background-color: #1111119f;
    h1 {
      &::after {
        width: 100%;
      }
    }
  }
  h1 {
    margin-top: 28px;
    margin-bottom: 0px;
    color: #e6f4ff;
    font-size: 42px;
    &::after {
      width: 0px;
      transition: width .4s;
      height: 2px;
      content: "";
      background-color: #3a6c95;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
  }
  sub {
    color: white;
    margin-bottom: 25px;
  }
}

#trending_article .hexag_container, #header_article .hexag_container {
  height: 460px;
  text-decoration: none;

}

#article {
  width: 90%;
  margin-left:auto;
  margin-right: auto;
  a {
    color: #3A6C95;
  }
  #content_article {
    box-shadow: 0px 0px 8px black;
    background-color: #efefef;
    font-size: 22px;
    p, ul {
      width: 700px;
      margin-left: auto;
      margin-right: auto;
      color: #121212;
    }
    p {
      img {
        height: auto;
        width: 500px;
      }
      img + em {
        display: block;
        font-size: 80%;
        color: #5f5f5f;
      }
    }
    h1 {
      font-size: 40px;
      color:  #3A6C95;
    }
    h2,h3,h4 {
      color: #162e42;
      margin-left: 15%;
    }

    // Fallback for when I was using Semantic UI for endnote of and article
    .ui.icon.message {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 70px;
      margin-bottom: 70px;
      background: #3A6C95;
      color: white;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0px 0px 2px black;
    }

    .medium {
      height: auto;
      width: 500px;
    }
    .small {
      height: auto;
      width: 350px;
    }
    // End

    // Fallback for when I wasn't using highlightJS
    code:not(.hljs) {
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      background: #23241f;
    }
    // End
    .javascript.hljs {
      display: inline;
      padding: 1px;
    }
  }
}

#comments {
  background-color: #3A6C95;
  box-shadow: 0px 2px 6px black;
  border-top: 1px solid #727272;
  .comment {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 110%;
    background-color: #efefef;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    color: #121212;
    .comment_date {
      font-size: 13px;
      color: #535353;
    }
  }
}

@keyframes comment_opac {
  0% {opacity: 0;}
  70% {opacity: 0;}
  100% {opacity: 1;}
}

.ease_appear {
  animation: comment_opac ease .8s;
}
#post_comment {
  position: fixed;
  right: 20px;
  bottom: 50px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px black;
  z-index: 10;
  background-color: #162e41;
  align-items: end;
  transition: width .4s, height .4s;
  width: 48px;
  height: 48px;
  img {
    cursor: pointer;
    height: 48px;
    width: 48px;
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  form {
    display: none;
    width: 85%;
    padding: 10px;
    fieldset {
      width: 90%;
      border: none;
      padding-left: 0px;
      margin-left: 0px;
      label {
        display: block;
      }
      input {
        width: 100%;
        font-family: "Rambla", sans-serif;
      }
    }
    textarea {
      font-family: "Rambla", sans-serif;
      height: 60px;
    }
  }
}

footer {
  a {
    color: #C1C1C1;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  justify-content: center;
  & > * {
    text-align: center;
  }
}

.leftAlign {
  text-align: left;
}

////////// Hexagons

.hexag_container {
  .hexag {
    display: inline-block;
    position: relative;
    .content {
      display: none;
      width: 300px;
      flex-direction: column;
      align-items: center;
      img {
        display: none;
      }
      span:nth-child(2) {
        display: none;
      }
    }
    &:not(.no_hover):hover {
      svg {
        filter: brightness(10%);
        transition: filter .3s;
      }
      .content {
        display: flex;
        position: absolute;
        span {
          font-size: 18px;
          position: relative;
          top: -165px;
          transform: translateY(-50%);
          animation: blurAppear .4s;
        }
      }
    }
    svg {
      polygon {
        stroke: #00637e;
        stroke-width: 4px;
      }
    }
  }
}


.three {
  display: inline-block;
  width: calc(100% / 3);
  padding-left: 20px;
  padding-right: 20px;
}

.two {
  display: inline-block;
  width: calc(100% / 2);
  padding-left: 20px;
  padding-right: 20px;
}
