---
---

/////////// FONTS
@font-face {
  font-family: Rambla;
  src: url(/fonts/Rambla/rambla/Rambla-Regular.otf);
}

////////// Mixins

@mixin flex {
  display: flex;
}

@mixin row {
  @include flex;
  flex-direction: row;
}

@mixin column {
  @include flex;
  flex-direction: column;
}

@mixin centerAbsolute {
  left: 50%;
  transform: translateX(-50%);
}

/////////// Animations
@keyframes opac {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes blurAppear {
  from {filter: blur(12px);}
  to {filter: blur(0px);}
}

.row {
  @include row;
}

.column {
  @include column;
}

.spaced {
  justify-content: space-between;
}

.separator {
  background: white;
  width: 1px;
  height: 20px;
  margin: 2px;
  margin-left: 4px;
  margin-right: 4px;
}

$secondary-color: #C1C1C1;

html {
  background: linear-gradient(to top right, #150081, #003078, rgba(0, 55, 77, 0.9));
  background-attachment: fixed;
  height: 100%;
}

body {
  color: $secondary-color;
  height: 100%;
  font-family: "Rambla", sans-serif;
}

header {
  width: calc(100% - 25px);
  padding-left: 5px;
  padding-right: 20px;
  @include row;
  justify-content: space-between;
  transition: background .6s;
  ul {
    list-style: none;
    padding-left: 0px;
    a {
      color: inherit;
      transition: color .1s;
    }
  }
  top: 0px;
  left: 0px;
  div.row {
    width: 150px;
    .row {
      padding-left: 50px;
    }
  }
  ul:nth-child(1) {
    font-size: 20px;
    width: 350px;
    a:hover {
      color: #1e70bf;
    }

  }
  #logo {
    height: auto;
    width: 32px;
  }
}

aside {
  position: fixed;
  bottom: 40%;
  left: 0px;
  ul {
    list-style: none;
    padding-left: 5px;
    li {
      padding: 5px;
      img {
        height: auto;
        width: 45px;
      }
    }
  }
}

.one_pager {
  section {
    width: 100%;
    height: 1000px;
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 45px;
    }
    .left_float {
      float: left;
    }
    .right_float {
      float: right;
      width: 40%;
      text-align: center;
    }
  }
  #brand {
    & > .column {
      width: 100%;
      position: relative;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      & > em {
        text-align: center;
        font-size: 30px;
        line-height: 45px;
      }
      .row {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
      object {
        height: 160px;
      }
      #evinlphrin {
        font-size: 70px;
        span {
          height: 70px;
          padding-top: 20px;
          -webkit-text-fill-color: transparent;
          background: linear-gradient(to left, rgba(108, 169, 209, 0.4), #369ee3);
          -webkit-background-clip: text;
        }
      }
    }
  }
  #work, #projects, #blog {
    background: white;
    h1 {
      color: #162E41;
    }
  }

  #work {
    padding-top: 100px;
    height: 900px;
    background: url('/images/decoration/background.jpg');
    background-size: cover;
    .work {
      position: relative;
      top: 200px;
      left: 100px;
      display: flex;
      justify-content: space-between;
      width: calc(100% - 200px);
    }
  }

  #blog {
    h1 {
      display: inline-block;
      position: relative;
      @include centerAbsolute();
    }
  }
}

#main {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 100px;
  box-shadow: 0px 0px 15px black;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  justify-content: center;
}

////////// Hexagons

.hexag_container {
  .hexag {
    display: inline-block;
    position: relative;
    .content {
      display: none;
      width: 300px;
      flex-direction: column;
      align-items: center;
      img {
        display: none;
      }
      span:nth-child(2) {
        display: none;
      }
    }
    &:hover {
      svg {
        filter: brightness(10%);
        transition: filter .3s;
      }
      .content {
        display: flex;
        position: absolute;
        span {
          font-size: 18px;
          position: relative;
          top: -165px;
          transform: translateY(-50%);
          animation: blurAppear .4s;
        }
      }
    }
    svg {
    }
  }
}

////////// Slider css

.slider {
  position: relative;
  top: 6%;
  left:0px;
  width: 100%;
  height: calc(100% - 122px);
  .slide {
    width: 100%;
    height: 100%;
    display: block;
    animation: opac 0.8s;
    background-size: cover;
    background-position: center center;
  }

  .prev_button, .next_button {
    position: absolute;
    top: 50%;
    background: url('/images/decoration/arrows.png');
    width: 55px;
    height: 75px;
  }
  .prev_button {
    background-position: 0px 0px;
    left: 30px;
  }
  .next_button {
    background-position: 295px 0px;
    right: 30px;
  }
}

////////// Semantic UI modifications

.ui.cards::after {
  content: none;
}

.ui.cards {
  flex-wrap: nowrap;
}
