---
---

$secondary-color: #C1C1C1;
$link-color: #3a6c95;
$date-color: #565656;
$margin: 45px;
$space: 10px;
$width: calc(100% - 2 * #{$margin});
$content-width: 800px;
$line-height: 35px;


/////////// FONTS
@font-face {
  font-family: Yanone;
  src: url('/fonts/Yanone/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf');
}

@font-face {
  font-family: Oswald;
  src: url('/fonts/Oswald/Oswald-Medium.ttf');
}

@font-face {
  font-family: TheanoDidot;
  src: url('/fonts/theano_didot/TheanoDidot-Regular.ttf');
}


////////// Mixins

@mixin flex {
  display: flex;
}

@mixin row {
  @include flex;
  flex-direction: row;
}

@mixin column {
  @include flex;
  flex-direction: column;
}

@mixin centerAbsolute {
  left: 50%;
  transform: translateX(-50%);
}

@mixin underlineHover {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

/////////// Animations
@keyframes opac {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes blurAppear {
  from {filter: blur(12px);}
  to {filter: blur(0px);}
}

.row {
  @include row;
}

.column {
  @include column;
}

.spaced {
  justify-content: space-between;
}

.separator {
  background: white;
  width: 1px;
  height: 20px;
  margin: 2px;
  margin-left: 4px;
  margin-right: 4px;
}


html {
  background: linear-gradient(to top right, #162e41, #3a6c95);
  background-attachment: fixed;
  height: 100%;
}

body {
  color: $secondary-color;
  height: 100%;
  margin: 0px;
  font-family: "Yanone", sans-serif;
  font-size: 18px;
  h1,h2,h3,h4,h5,h6 {
    font-family: "Oswald", sans-serif;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

header {
  @include row;
  justify-content: space-between;
  transition: background .6s;
  ul {
    list-style: none;
    padding-left: 0px;
    a {
      color: inherit;
      @include underlineHover;
    }
  }
  top: 0px;
  left: 0px;
  div.row {
    width: 150px;
    .row {
      padding-left: 50px;
    }
  }
  ul {
    font-size: 130%;
  }
  ul:nth-child(1) {
    width: 350px;
  }
  #logo {
    height: auto;
    width: 32px;
  }
}

.one_pager {
  section {
    height: 900px;
    h2 {
      font-size: 80px;
    }
    h3 {
      font-size: 50px;
    }
  }
  #brand {
    & > .row {
      width: 100%;
      position: relative;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      a {
        font-size: 30px;
        @include underlineHover;
        margin-bottom: 10px;
        margin-top: auto;
      }
      a:visited {
        color: $secondary-color;
      }
    }
    h1 {
      margin-top: 0px;
      line-height: 105px;
      margin-bottom: -30px;
      color: $secondary-color;
    }
    #social_share {
      margin-top: auto;
      ul {
        margin-bottom: 10px;
        list-style: none;
        padding: 0px;
        li {
          padding: 5px;
          &:nth-child(1) {
            padding-left: 0px;
          }
          img {
            height: auto;
            width: 45px;
            &:hover {
              filter: drop-shadow(1px 1px 2px black);
            }
          }
        }
      }
    }
  }
  #work, #projects, #blog {
    h2 {
      color: #162E41;
    }
  }

  #work {
    background: url('/images/decoration/background.jpg');
    background-size: cover;
    & > div {
      width: 50%;
    }
  }

  #blog {
    background: url('/images/decoration/background_02.jpg');
    background-size: cover;
    text-decoration: none;
    color: inherit;
    #trending_article {
      width: 1000px;
      position: relative;
      top: 75px;
      text-align: center;
      .row {
        justify-content: center;
        height: 130px;
        a {
          color: $link-color;
          border-left: 1px solid rgba(1, 1, 1, 0.3);
        }
        a:nth-child(1) {
          border-left: none;
        }
      }
      // See more articles
      h5 {
        display: inline-block;
        text-align: center;
        margin-top: 60px;
        color: #777;
      }
    }
  }

  #contact {
    height: 1000px;
    .column {
      width: 100%;
      position: relative;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      a {
        background-color: #3A6C95;
        transition: background-color .3s;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 120%;
        &:hover {
          background-color: #007298;
        }
      }
    }
  }

  .hexag_container {
    position: absolute;
    top: 1100px;
    white-space: nowrap;
  }
}

#trending_article {
  #featured_article {
    margin-bottom: 60px;
    margin-top: 30px;
    color: $link-color;
    &:visited {
      color: $link-color;
    }
    h3 {
      color: #3a6c95;
      margin-bottom: 30px;
    }
    sub {
      color: $date-color;
      display: block;
    }
    display: inline-block;
    position: relative;
  }
  .row {
    justify-content: center;
    height: 130px;
    a {
      color: $link-color;
      text-decoration: none;
      transition: background-color .4s;
      &:hover {
        text-decoration: underline;
        background-color: darkgrey;
        h4 {
          color: #3a6c95;
        }
      }
      .text_content {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        color: $date-color;
      }
    }
  }
  #more {
    font-size: 30px;
    color: $link-color;
    margin-top: 50px;
    display: block;
    &:visited {
      color: $link-color;
    }
  }
}

#articles_list {
  width: $width;
  margin-left:auto;
  margin-right: auto;
  #trending_article {
    .column {
      background-color: #efefef;
      box-shadow: 0px 4px 8px black;
      .row {
        a {
          h3 {
            margin-bottom: 0px;
          }
          .text_content {
            margin-top: 0px;
          }
        }
      }
    }
  }
}

#articles_list #featured_article, #header_article {
  background-color: #1111114d;
  transition: background-color 1s;
  box-shadow: 0px 0px 8px black;
  &:hover {
    background-color: #1111119f;
    h1 {
      &::after {
        width: 100%;
      }
    }
  }
  h1 {
    margin-top: 28px;
    margin-bottom: 0px;
    color: #e6f4ff;
    font-size: 50px;
    &::after {
      width: 0px;
      transition: width .4s;
      height: 2px;
      content: "";
      background-color: #3a6c95;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
  }
  sub {
    color: white;
    margin-bottom: 25px;
  }
}

#trending_article .hexag_container, #header_article .hexag_container {
  height: 460px;
  text-decoration: none;

}

#article {
  width: $width;
  margin-left:auto;
  margin-right: auto;
  a {
    color: #3A6C95;
  }
  #content_article {
    font-family: TheanoDidot;
    box-shadow: 0px 0px 8px black;
    background-color: #efefef;
    font-size: 20px;
    p {
      line-height: $line-height;
      img {
        height: auto;
        width: 500px;
      }
      img + em {
        display: block;
        font-size: 80%;
        color: #5f5f5f;
      }
    }
    ul {
      margin-top: 40px;
      margin-bottom: 40px;
      line-height: $line-height;
    }
    p, ul {
      width: $content-width;
      margin-left: auto;
      margin-right: auto;
      color: #121212;
    }
    iframe {
      margin-left: auto;
      margin-right: auto;
      width: $content-width;
      display: block;
    }
    h1 {
      font-size: 40px;
      color:  #3A6C95;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: $content-width;
    }
    h2,h3,h4 {
      color: #162e42;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: $content-width;
      margin-top: 40px;
      margin-bottom: -10px;
      font-size: 40px;
    }

    // Fallback for when I was using Semantic UI for endnote of and article
    .ui.icon.message {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 70px;
      margin-bottom: 70px;
      background: #3A6C95;
      color: white;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0px 0px 2px black;
    }

    .medium {
      height: auto;
      width: 500px;
    }
    .small {
      height: auto;
      width: 350px;
    }
    // End

    // Fallback for when I wasn't using highlightJS
    code:not(.hljs) {
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      background: #23241f;
    }
    // End
    .javascript.hljs {
      display: inline;
      padding: 1px;
    }

    iframe {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

#comments {
  background-color: #3A6C95;
  box-shadow: 0px 2px 6px black;
  border-top: 1px solid #727272;
  .comment {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 110%;
    background-color: #efefef;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    color: #121212;
    .comment_date {
      font-size: 13px;
      color: #535353;
    }
  }
}

@keyframes comment_opac {
  0% {opacity: 0;}
  70% {opacity: 0;}
  100% {opacity: 1;}
}

.ease_appear {
  animation: comment_opac ease .8s;
}

#post_comment {
  position: fixed;
  right: 0px;
  bottom: 50px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px black;
  z-index: 10;
  background-color: #162e41;
  align-items: end;
  transition: width .4s, height .4s;
  width: 48px;
  height: 48px;
  img {
    cursor: pointer;
    height: 48px;
    width: 48px;
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  form {
    display: none;
    width: 85%;
    padding: 5px;
    fieldset {
      width: 100%;
      border: none;
      padding-left: 0px;
      margin-left: 0px;
      label {
        display: block;
      }
      input {
        border: none;
        padding: 5px;
        width: calc(100% - 10px);
        font-family: "Rambla", sans-serif;
      }
    }
    textarea {
      font-family: "Rambla", sans-serif;
      height: 60px;
    }
  }
}

footer {
  a {
    color: #C1C1C1;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  justify-content: center;
  & > * {
    text-align: center;
  }
}

.leftAlign {
  text-align: left;
}

.rightAlign {
  text-align: right;
}

.leftMargin {
  margin-left: $margin;
}

.rightMargin {
  margin-right: $margin;
}

////////// Hexagons

.hexag_container {
  .hexag {
    display: inline-block;
    position: relative;
    .content {
      display: none;
      width: 300px;
      flex-direction: column;
      align-items: center;
      img {
        display: none;
      }
      span:nth-child(2) {
        display: none;
      }
    }
    &:not(.no_hover):hover {
      svg {
        filter: brightness(10%);
        transition: filter .3s;
      }
      .content {
        display: flex;
        position: absolute;
        span {
          font-size: 18px;
          position: relative;
          top: -165px;
          transform: translateY(-50%);
          animation: blurAppear .4s;
        }
      }
    }
    svg {
      polygon {
        stroke: #00637e;
        stroke-width: 4px;
      }
    }
  }
}


.three {
  display: inline-block;
  width: calc(100% / 3);
  padding-left: 20px;
  padding-right: 20px;
}

.two {
  display: inline-block;
  width: calc(100% / 2);
  padding-left: 20px;
  padding-right: 20px;
}


@media (max-width: 1600px) {

}
