html
{
  font-size: 18px;
}

body
{
  background-color: #222;
  margin: 0px;
}

body a
{
  color: cyan;
}

.header
{
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  font-size: 140%;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgba(55, 55, 55, 0.3);
}

.title
{
  height: 100px;
  color: #B9EFFF;
  font-size: 70%;
}

.navigation
{
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.navigation ul
{
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.navigation li
{
  margin-left: 15px;
  margin-right: 15px;
  display: inline;
}

.header a, .header a:visited
{
  color: #666;
  transition: color .5s;
}

a, a:visited
{
  text-decoration: none;
}

.shad-effect a:before,
.shad-effect a:after
{
  content: "";
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: block;
  height: 1px;
  background-color: #00B0FF;
  transition: all .5s;
}

.shad-effect a:hover:before,
.shad-effect a:hover:after
{
  width: 0px;
}

.shad-effect a:hover
{
  cursor: pointer;
  color: #EEF;
  text-shadow: 0 0 10px #005DAB, 0 0 20px #005DAB, 0 0 30px #068DFF;
}

.header .left
{
  align-self: center;
}

.header .right
{
  align-self: center;
}

.contact
{
  transition: right .3s;
  opacity: 1;
  position:fixed;
  right: -500px;
  top: 0px;
  width: 500px;
  padding-bottom: 10px;
  color: white;
  background-color: rgba(49, 162, 179, 0.7);
}

.contact button
{
  background-color: rgba(0,0,0, 0.3);
  border: none;
  color: white;
  font-size: 130%;
  margin-left: 41%;
  cursor: pointer;
  padding: 5px;
  transition: all .3s;
}

.contact button:hover
{
  background-color: rgba(0,0,0, 0.5);
  box-shadow: 1px 1px 1px black;
}

.contact img
{
  width: 12%;
  height: 10%;
  margin-right: 1%;
}

.contact ul
{
  list-style: none;
}

.contact li
{
  margin-top: 5px;
  margin-bottom: 5px;
}

.contact li a
{
  color:
}

.main
{
  line-height: 150%;
  width: 100%;
  padding-top: 4%;
  padding-bottom: 20px;
  margin-bottom: -20px;
  text-align: justify;
  font-family: "Open", sans-serif;
  font-weight: 100;
  color: white;
  box-shadow: 0px -5px 15px -3px #000000;
  background-color: rgba(115, 115, 115, 0.2);
}
.main a
{
  transition: color .5s;
}

.main a:hover
{
  color: white;
}

.posts
{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 100px;
}

.post
{
  margin: 1%;
  padding: 1%;
}

.post h2 a
{
  transition: all .3s;
}

.post h2 a:hover
{
  color: #666;
  text-shadow:  0px 0px 2px #FFF, 0px 0px 6px #B0B0FF, 0px 0px 10px #00B0FF;
}

.post h2::before
{
  transition: all .3s;
  content: "“ "; /* Alt Gr + V */
}

.post h2:hover::before
{
  color: #0FF;
  text-shadow:  0px 0px 2px #FFF, 0px 0px 6px #B0B0FF, 0px 0px 10px #00B0FF;
}

.post h2::after
{
  transition: all .3s;
  content: " ”"; /* Alt Gr + B */
}

.post h2:hover::after
{
  color: #0FF;
  text-shadow:  0px 0px 2px #FFF, 0px 0px 6px #B0B0FF, 0px 0px 10px #00B0FF;
}

.post_home
{
  display: flex;
  flex-direction: column;
}

.post_home .title
{
  align-items: flex-end;
  display: flex;
  margin-left: 8%;
  width: 60%;
  height: 20em;
  color: #EEE;
  background-color: #F2F2F2;
  background-size: cover;
}

.post_home .content
{
  margin-left: 8%;
  width: 80%;
  font-size: 100%;
  line-height: 1.5em;
}

.post_home .content img
{
  display: block;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
}

.post_home .title time
{
  border-top: 1px solid black;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}

footer
{
  color: white;
  line-height: 3em;
  background-color: #222;
}

footer a
{
  color: cyan;
}

footer ul
{
  list-style: none;
  display: flex;
}

footer li
{
  margin-right: 15px;
  margin-left: 15px;
}

.info_IT, .info_translator
{
  display: flex;
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
}

.info_translator
{
  flex-direction: row-reverse;
}

.pic
{
  margin-right: 3%;
  margin-left: 3%;
}

.share
{
  border-top: 1px solid #000;
  padding-left: 5%;
}

.share img
{
  height: 25px;
}

pre
{
  background-color: #222;
  color: #DCD288;
}

.post h2
{
  font-family: "EB Garamond 08 SC", "Open", sans-serif;
}

.header_blog_title
{
  height: 350px;
  text-align: center;
  color: white;
  font-size: 90%;
  transition: all 0.3s;
  margin-bottom: 3%;
}

.header_blog_title:hover
{
  background-color: rgba(0, 0, 0, 0.6);
}

.header_blog_title time
{
  position: relative;
  top: 100px;
}

.header_blog_title a:visited
{
  color: #B9EFFF;
}

.header_blog_title h1
{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.header_blog_title a:hover
{
  color: cyan;
}

.slash
{
  color: black;
}

.pagination
{
  font-size: 130%;
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagination a
{
  transition: color .3s;
}

.pagination a:hover
{
  color: white;
}

.projects
{
  display: flex;
  flex-direction: column;
}

#form_info
{
  display: flex;
}

textarea, input
{
  background-color: white;
}

.project
{
  display: flex;
  flex-direction: row;
}

@media (max-width: 1210px) {
  .title
  {
    display: none;
  }

  .right
  {
    margin: auto;
  }

  .post_home .title
  {
    width: 80%;
  }

  .project
  {
    flex-direction: column;
  }

  .project img
  {
    margin-left: auto;
    margin-right: auto;
  }

  .projects h2
  {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 860px) {
  html
  {
    font-size: 16px;
  }

  .header
  {
    padding: 0px;
    width: 100%;
  }

  .posts
  {
    margin-left: 0px;
    margin-right: 0px;
  }

  .post_home .title, .post_home .content
  {
    margin-left: 0px;
    width: 100%;
  }
}
