<div id="comments" itemprop="comment">
  <h2>Commentaires</h2>
  {% assign comments = site.data.comments | sort %}
  {% for comment in comments reversed %}
    {% assign c = comment[1] %}
    <div class="comment {% cycle 'odd', 'even' %}">
      <p class="comment_header">
      De: {% if c.url and c.url != '' %}
      <a href="{{c.url}}">{{c.name}}</a>
      {% else %}
      {{c.name}}
      {% endif %}
      <br />
      <span class="comment_date">
        {% include date.html date=c.date %}
      </span>
      </p>
      <hr>
      <p class="comment_content">
      {{c.message | newline_to_br}}
      </p>
    </div>
  {% endfor %}
  <p style="font-style: italic">
  Tous les commentaires sont sujet à modération. Un formatage HTML basique est utilisable
  </p>
  <form id="commentform" method="POST" action="https://api.staticman.net/v2/entry/Ilphrin/ilphrin.com/master/comments">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <input name="options[redirect]" type="hidden" value="https://ilphrin.com{{page.url}}">
    <input name="options[origin]" type="hidden" value="https://ilphrin.com" />
    <input type="hidden" name="fields[post_id]" value="{{page.id}}" />
    <div id="form_info">
      <div id="title_form">
        <p>Nom:</p>
        <p>E-mail:</p>
        <p>Site Web:</p>
      </div>
      <div id="content_form">
        <p><input type="text" size="25" name="fields[name]" id="name" placeholder="(Requis)" required/></p>
        <p><input type="email" size="25" name="fields[email]" id="email" placeholder="(Requis, non publié)" required/></p>
        <p><input type="text" size="25" name="fields[url]" id="link" placeholder="(Optionnel)"/></p>
      </div>
    </div>
    <textarea name="fields[message]" rows="10" cols="60" id="comment" placheolder="(Requis)" required></textarea>
    <input type="submit" name="submit" value="Envoyer ✔"/>
  </form>
</div>
