<div id="comments" itemprop="comment">
  <h2 class="ui horizontal divider header inverted">Commentaires</h2>
  {% assign comments = site.data.comments | sort %}
  {% for comment in comments reversed %}
      {% assign c = comment[1] %}
      {% if c.post_id == include.post.id %}
      <div class="comment {% cycle 'odd', 'even' %}">
        <p class="comment_header">
        De: {% if c.url and c.url != '' %}
        <a href="{{c.url}}">{{c.name}}</a>
        {% else %}
        {{c.name}}
        {% endif %}
        <br />
        <span class="comment_date">
          {% include date.html date=c.date %}
        </span>
        </p>
        <hr>
        <p class="comment_content">
        {{c.message | newline_to_br}}
        </p>
      </div>
      {% endif %}
  {% endfor %}
  <p style="font-style: italic">
  Tous les commentaires sont sujet à modération. Un formatage HTML basique est utilisable
  </p>
  <form class="ui form" method="POST" action="https://api.staticman.net/v2/entry/Ilphrin/ilphrin.com/master/comments">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <input name="options[redirect]" type="hidden" value="https://ilphrin.com{{page.url}}">
    <input name="options[origin]" type="hidden" value="https://ilphrin.com" />
    <input type="hidden" name="fields[post_id]" value="{{page.id}}" />
    <div class="ui inverted segment">
      <h2 class="ui dividing header">Commenter</h2>
      <div class="field">
        <div class="three fields">
          <div class="field">
            <label>Nom</label>
            <input name="fields[name]" placeholder="Requis" type="text" required/>
          </div>
          <div class="field">
            <label>Email</label>
            <input name="fields[email]" placeholder="Requis, non publié" type="email" required/>
          </div>
          <div class="field">
            <label>Lien</label>
            <input name="fields[url]" placeholder="Optionnel" type="text"/>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Allez-y parlez ;)</label>
        <textarea name="fields[message]" placeholder="Requis" required></textarea>
      </div>
      <button class="ui submit button" type="submit" name="submit">Envoyer</button>
    </div>
  </form>
</div>
