<div id="comments" itemprop="comment">
  {% case page.comment_count %}
    {% when 0 %}
      <h2>Aucun commentaire</h2>
    {% when 1 %}
      <h2><span itemprop="commentCount">1</span> Commentaire</h2>
    {% else %}
      <h2><span itemprop="commentCount">{{page.comment_count}}</span> Commentaires</h2>
  {% endcase %}
  {% for c in page.comments reversed %}
    <div class="comment {% cycle 'odd', 'even' %}">
      <p class="comment_header">
      De: {% if c.link and c.link != '' %}
      <a href="{{c.link}}">{{c.name}}</a>
      {% else %}
      {{c.name}}
      {% endif %}
      <br />
      <span class="comment_date">{{c.date}}</span>
      </p>
      <hr>
      <p class="comment_content">
      {{c.comment | newline_to_br}}
      </p>
    </div>
  {% endfor %}
  <p style="font-style: italic">
  Tous les commentaires sont sujet à modération. Un formatage HTML basique est utilisable
  </p>
  <form id="commentform" method="POST" action="https://api.staticman.net/v2/entry/Ilphrin/ilphrin.com/master">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <input name="options[redirect]" type="hidden" value="http://ilphrin.com{{page.url}}">
    <input type="hidden" name="fields[post_id]" value="{{page.id}}" />
    <div id="form_info">
      <div id="title_form">
        <p>Nom:</p>
        <p>E-mail:</p>
        <p>Site Web:</p>
      </div>
      <div id="content_form">
        <p><input type="text" size="25" name="fields[name]" id="name" placeholder="(Requis)" required/></p>
        <p><input type="email" size="25" name="fields[email]" id="email" placeholder="(Requis, non publié)" required/></p>
        <p><input type="text" size="25" name="fields[url]" id="link" placeholder="(Optionnel)"/></p>
      </div>
    </div>
    <textarea name="fields[message]" rows="10" cols="60" id="comment" placheolder="(Requis)" required></textarea>
    <input type="submit" name="submit" value="Envoyer ✔"/>
  </form>
</div>
