<div id="trending_article">
  {% for post in site.posts %}
  {% if forloop.index == 1 %}
  <a href="{{post.url}}" id="featured_article" class="hexag_container">
    <div class="hexag no_hover">
      <svg id="svg{{post.title}}" xmlns="http://www.w3.org/2000/svg" version="1.1" width="300" height="300" xmlns:xlink="http://www.w3.org/1999/xlink">
        <polygon class="hex" points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
      </svg>
      <div class="content">
        <span>{{post.title}}</span>
        <span>{{post.url}}</span>
        <img src="/images/header_articles/{{post.cover}}"/>
      </div>
    </div>
    <div>
      <h2>{{ post.title }}</h2>
      <sub>{{ post.date | date:"%d/%m/%y" }}</sub>
    </div>
  </a>
  {% endif %}
  {% endfor %}
  <div class="row">
    {% for post in site.posts limit: include.limit %}
    {% if forloop.first != true %}
    <a href="{{post.url}}" class="three">
      <h3>{{ post.title }}</h3>
      <div class="text_content">{{ post.date | date: "%d/%m/%Y"}}</div>
    </a>
    {% endif %}
    {% endfor %}
  </div>
  <h4><a href="{{site.baseurl}}/articles/">{%t blog_.more %}</a></h4>
</div>

