---
layout: index
---

{% for post in site.posts %}
  <div class="header_blog" {% if post.cover %}style="background-image: url('/images/header_articles/{{ post.cover }}');"{% endif %}>
    <a href="{{post.url}}">
      <h1>{{post.title}}</h1>
      <h2>{% include date.html date=post.date %}</h2>
      <span>{{ post.excerpt }}</span>
    </a>
  </div>
{% break %}
{% endfor %}

<div class="pagination">
  <div class="prev">
    {% if paginator.previous_page %}
      <a rel="prev" href="{{ paginator.previous_page_path | replace: 'index.html', '/' | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>Prev</span>
    {% endif %}
  </div>
  <div class="page_counter">
    <!-- badass navigation pages handler 8) -->
    {% if paginator.page > 2 %}
      {% assign first = paginator.page | minus: 2 %}
    {% else %}
      {% assign first = 1 %}
    {% endif %}
    {% assign plop = paginator.total_pages | minus: paginator.page %}
    {% if plop > 2 %}
      {% assign last = paginator.page | plus: 2 %}
    {% else %}
      {% assign last = paginator.total_pages %}
    {% endif %}

      {% for page in (first..last) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ '/kevin' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a href="{{ '/kevin/' | append: '/page/' | append: page}}">{{ page }}</a>
        {% endif %}
      {% endfor %}

  </div>
  <div class="next">
    {% if paginator.next_page %}
      <a rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Suiv</a>
    {% else %}
      <span>Next</span>
    {% endif %}
  </div>
</div>

<div class="posts">
{% for post in paginator.posts %}
  <div class="post">
    <h2><a href="{{ post.url }}">{{post.title}}</a></h2>
    {{ post.content | split:'<!--break-->' | first }}
  </div>
{% endfor %}
</div>

