<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/kevin/main.css">
  <link rel="stylesheet" type="text/css" href="/css/highlight/hopscotch.css">

  <script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js" charset="utf-8"></script>
  <script src="/js/nav.js"> </script>
  <script src="/js/previous.js" charset="utf-8"></script>
  <!--<script src="/js/highlight.pack.js" charset="utf-8"></script>-->
  <!--<script>hljs.initHighlightingOnLoad();</script>-->

  <link rel="import" href="/bower_components/neonize-navigation/neonize-navigation.html" />
  <title>
    Kevin / Ilphrin
  </title>
</head>

{% include kevin/header.html %}

<body>
    <div class="main">
        {{ content }}
    </div>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.ilphrin.com"]]);
  _paq.push(["setDoNotTrack", true]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//ilphrin.com/analytics/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//ilphrin.com/analytics/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</body>
</html>
