<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
  <!-- Meta info -->
    <meta charset="utf-8">
    <meta name="description" content="{{page.description}}">
    <meta name="author" content="Kevin Pellet (Ilphrin)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="sitemap" src="/sitemap.xml">
    <link rel="alternate" type="application/rss+xml"  href="{{site.url}}/feeds.xml" title="Articles">
    <link rel="alternate" type="application/rss+xml"  href="{{site.url}}/planet_feed.xml" title="Articles pour Planet-Libre">
  <!-- End Meta info -->

  <!-- CSS -->
    <link rel="stylesheet" href="/css/monokai-sublime.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="icon" href="/favicon.png"/>
  <!-- End CSS -->

  <title>{{ page.title }}</title>
  <link rel="localization" hreflang="fr" href="/l10n/fr.json" type="application/vnd.oftn.l10n+json"/>
  <link rel="localization" hreflang="en" href="/l10n/en.json" type="application/vnd.oftn.l10n+json"/>

</head>

<body itemscope itemtype="http://schema.org/Blog">
  {% include header.html %}
        {{ content }}
  {% include footer.html %}

  <!-- JS -->
    <script type="text/javascript" src="/js/launch_sw.js" defer ></script>
    <script type="text/javascript" src="/js/analytics.js" defer></script>
  <!-- End JS -->

</body>
</html>
