<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <link rel="icon" href="/images/LogoV1.png"/>

  <title>
    Kevin / Ilphrin
  </title>
</head>

<body itemscope itemtype="http://schema.org/Blog">
  {% include kevin/header.html %}
    <div class="main">
        {{ content }}
    </div>

  <script src="/js/previous.js" charset="utf-8"></script>
  <script src="/js/header.js" charset="utf-8"></script>

  <!-- Piwik -->
  <script type="text/javascript" src="/js/analytics.js"></script>
  <noscript><p><img src="//ilphrin.com/analytics/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
</body>
</html>
