---
layout: default
---
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
    <p>{{page.excerpt}}</p>
    {% if page.title == 'My Everyday Articles' %}
      <ul class="actions">
        <li><a href="{{site.baseurl_root}}/articles">English</a></li>
        <li><a href="{{site.baseurl_root}}/fr/articles">Français</a></li>
      </ul>
    {% endif %}
  </header>

  <section class="wrapper style4">
    <div class="inner fullwidth">
      {{ content }}
    </div>
  </section>

</article>

