---
layout: default
title: {{page.title}}
---
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
    <ul class="actions">
      <a href="{{site.baseurl}}/articles">Go back to articles</a>
    </ul>
  </header>

  <section class="wrapper style4">
    <div class="inner">
      <div>
        <h4>Don't want to miss anything? Get news right in your inbox:</h4>
        <form action="https://ilphrin.us17.list-manage.com/subscribe/post?u=b1078ca5ae43996753562fbed&amp;id=e659e3e8a7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b1078ca5ae43996753562fbed_e659e3e8a7" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button special"></div>
          </div>
        </form>
      </div>
      {{ content }}
      <div id="share-buttons">
        <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">
          <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
        </a>
        <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
        </a>
        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
        </a>
        <a href="http://reddit.com/submit?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
        </a>
        <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
        </a>
      </div>
    </div>
  </section>

</article>
