<div class="contact_pop">
  <div class="contact">
    <ul>
      <li>Mail: ilphrin@autistici.org</li>
      <li>Lyon, France</li>
    </ul>
    <ul id="accounts">
      <li><a target="_blank" href="https://www.github.com/Ilphrin"><img src="/images/links/github.png"></img></a></li>
      <li><a target="_blank" href='https://www.linkedin.com/profile/view?id=385771657&authType=NAME_SEARCH&authToken=ohOf&locale=fr_FR&srchid=3857716571426951551179&srchindex=1&srchtotal=3&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3857716571426951551179%2CVSRPtargetId%3A385771657%2CVSRPcmpt%3Aprimary%2CVSRPnm%3A()'><img src="/images/links/linkedin-icon.png"></img></a></li>
      <li><a target="_blank" href="https://mozillians.org/en-US/u/ilphrin/"><img src="/images/links/firefoxos.png"></img></a></li>
    </ul>
    <ul>
      <li><a target="_blank" href="http://schoewilliam.fr">Schoewilliam</a></li>
      <li><a target="_blank" href="http://la-vache-libre.org">La vache libre</a></li>
      <li><a target="_blank" href="http://planet-libre.org">Planet Libre </a></li>
      <li><a target="_blank" href="https://firefoxos.mozfr.org/">Blog FirefoxOS FR</a></li>
    </ul>
    <ul>
      <li><a href="https://github.com/Ilphrin/ilphrin.com">Code du site</a></li>
      <li>Site et contenus sous licence <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/fr/legalcode">Creative Commons BY-NC-SA</a></li>
    </ul>
  </div>
  <div class="contact_arrow" onclick="contact_popup()">
  <p>
    Liens
  </p>
  </div>
</div>
