<div class="header">
  <div class="navigation">
    <div class="title">
      <h1 style="color: #B9EFFF;">Kevin <span class="slash">/</span> Ilphrin</h1>
    </div>
    <ul class="right shad-effect">
      <li><a href="/">Accueil</a></li>
      <li><a href="/kevin/index.html">Blog</a></li>
      <li><a onclick="contact_popup()">Contact</a></li>
      <li><a href="/kevin/about.html">À propos</a></li>
      <li><a href="/kevin/project.html">Projets</a></li>
    </ul>
  </div>

</div>

<div class="contact">
  <ul>
    <li>Mail: ilphrin@autistici.org</li>
    <li>Lyon, France</li>
    <li><a href="https://www.github.com/Ilphrin">Github</a>
    <li><a href='https://www.linkedin.com/profile/view?id=385771657&authType=NAME_SEARCH&authToken=ohOf&locale=fr_FR&srchid=3857716571426951551179&srchindex=1&srchtotal=3&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3857716571426951551179%2CVSRPtargetId%3A385771657%2CVSRPcmpt%3Aprimary%2CVSRPnm%3A()'>Linkedin </a></li>
    <li><a href="https://mozillians.org/en-US/u/ilphrin/">Mozillian</a></li>
  </ul>
  <button class="quit_contact" onclick="contact_popup()">Fermer</button>
</div>
