<div class="header">
  <div class="navigation">
    <div class="title">
      <h1 style="color: #B9EFFF;" itemprop="author">Kevin <span class="slash">/</span> Ilphrin</h1>
    </div>
    <ul class="shad-effect" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <li><a href="/">Accueil</a></li>
      <li><a href="/kevin/index.html">Blog</a></li>
      <li><a href="/kevin/project.html">Projets</a></li>
      <li><a href="/kevin/about.html">A propos</a></li>
      <li><a href="/feeds.xml" id="rss"><img src="/images/links/rss.png" alt="Flux RSS"/></a></li>
    </ul>
  </div>
  <div class="headerCursor">
    <img src="/images/decoration/header_01.svg" />
  </div>
</div>
