<div class="header">
  <div class="navigation">
    <div class="title">
      <h1 style="color: #B9EFFF;">Kevin <span class="slash">/</span> Ilphrin</h1>
    </div>
    <neonize-navigation-container class="right">
      <neonize-navigation link="/" text="Accueil"></neonize-navigation>
      <neonize-navigation link="/kevin/index.html" text="Blog"></neonize-navigation>
      <neonize-navigation link="/kevin/project" text="Projets"></neonize-navigation>
      <neonize-navigation link="/kevin/about" text="A propos"></neonize-navigation>
      <li><a href="/feeds.xml" id="rss"><img src="/images/links/rss.png"></img></a></li>
    </neonize-navigation-container>
  </div>

</div>
